@using Hospital.ViewModels
@model DoctorVM

<h1>Book Appointment</h1>
<form>
    <div class="d-flex align-items-center gap-2">

        <input type="text"
               class="form-control"
               placeholder="Specialization..."
               style="border-radius: 20px; padding: 10px;" name="query" value="@ViewBag.Query" />

        <button type="submit"
                class="btn btn-dark"
                style="border-radius: 20px; padding: 8px 20px;">
            Search
        </button>

    </div>
</form>

<div class="row">
    @foreach (var item in Model.Doctors)
    {

        <div class="col-md-4 mb-4">
            <div class="card">
                <img class="card-img" src="~/Images/doctors/@item.Image" style="width: 100%; height: auto;" alt="Doctor Image">
                <div class="card-body">
                    <h5 class="card-title">@item.Name </h5>
                    <p class="card-text">Specialization: @item.Specialization</p>
                    <a href="/Home/CompleteAppointment/@item.Id" class="btn btn-primary">Book Appointment</a>
                </div>
            </div>
        </div>
    }

</div>

<div class="row">
    <div class="col-12 d-flex justify-content-center">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                @if(Model.CurrentPage > 1)
                {
                    <li class="page-item"><a class="page-link" href="/Home/BookAppointment?page=@(Model.CurrentPage-1)">Previous</a></li>
                }
                
                @for (var i = 1; i <= Model.TotalPages; i++)
                {    
                    @if(i== Model.CurrentPage)
                    {
                        <li class="page-item active"><a class="page-link" href="/Home/BookAppointment?page=@i">@i</a></li>
                    }
                    else
                    {
                        <li class="page-item"><a class="page-link" href="/Home/BookAppointment?page=@i">@i</a></li>
                    }
                   
                }
                @if (Model.CurrentPage != Model.TotalPages)
                {
                    <li class="page-item"><a class="page-link" href="/Home/BookAppointment?page=@(Model.CurrentPage + 1)">Next</a></li>
                }

            </ul>
        </nav>
    </div>
</div>